.header{
    background-color: var(--purple-lighter);
    padding: 0.2rem 6rem;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    height: 5.5rem;
}
.header > * {
    transition: all 0.15s ease-out;
}

.header > *:hover{
    transform: scale(1.05);
}

.header__logo, .header__logo-img{
    height: 100%;
}

.header__btn{
    margin-left: auto;
    margin-right: 3rem;
}

.header__btn, .header__tasks{
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    text-decoration: none;
    color: var(--white);
    display: flex;
    align-items: center;
    background-color: var(--purple-dark);
    padding: 0 2rem;
    border-radius: 35px;
}